{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'core/carreras.csspy' %}">
    <title>Carreras</title>
</head>
<body>
    <p>Aquí va lo de carreras.</p>
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'carreras' %}">Carreras</a></li>
        <li><a href="{% url 'docentes' %}">Docentes</a></li>
    </ul>
</body>
</html>